body{
    font-size: 24px;
    font-family: 'Segoe UI', Helvetica, sans-serif, Arial  ;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

main{
    width: 100%;
    padding: 20vh 10vw 0 10vw;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.hidden{
    opacity: 0;
}

.d-none{
    display: none;
}

.msg-panel{
    position: absolute;
    top: 10vh;
    right: 10vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.msg{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 10px 0;
    width: 100%;
    font-size: 0.7em;
    font-weight: 300;
    box-sizing: border-box;
}

.msg button{
    background: none;
    border: none;
    font-weight: 700;
}

.msg-error{
    background-color: #DC3545A0 ;
}

.msg-successful{
    background-color: #28A745A0;
}

.modal-window{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000A0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.modal-window .cardModal{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 50px 15px;
    border-radius: 20px;
    z-index: 5;
    width: 30vw;
}

.modal-window .cardModal .headerCard{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.modal-window .cardModal .headerCard h4{
    font-size: .9em;
    font-weight: 500;
}

.modal-window .cardModal .headerCard button{
    font-size: .7em;
    font-weight: 600;
    background: none;
    border: none;
    color: #414141;
    margin-left: auto;
    transition-duration: .3s;
}

.modal-window .cardModal .headerCard button:hover{
    color: #056571;
    transition-duration: .3s;
    cursor: pointer;
}

.modal-window .cardModal .bodyCard{
    display: flex;
    flex-direction: column;
}

.modal-window .cardModal .bodyCard form{
    display: flex;
    flex-direction: column;
}

.modal-window .cardModal .bodyCard form input{
    display: flex;
    width: 80%;
    margin: auto;
    font-size: .7em;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #056571;
    background: none;
    outline: none;
}

.modal-window .cardModal .bodyCard form button{
    display: flex;
    margin: 30px auto 10px auto;
    font-size: .6em;
    padding: 8px 12px;
    background-color: #056571;
    color: #FFFFFF;
    border: 2px solid #056571;
    transition-duration: .3s;
}

.modal-window .cardModal .bodyCard form button:hover{
    background: none;
    color: #056571;
    transition-duration: .3s;
    cursor: pointer;
}