main{
    padding: 5vh 15vw;
    flex-direction: column;
    justify-content: start;
}

.panel-header{
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}

.panel-header h2{
    font-size: 2em;
    padding: 1em 1.4em;
    margin-right: .5em;
    background-color: #FF6a5C;
    color: #FFFFFF;
}

.panel-header .info h3{
    font-weight: 700;
    font-size: 1.5em;
}

.panel-header .info h6{
    font-size: .9em;
    margin: .4em 0;
    color: #000000A0;
}

.panel-header .info p{
    font-size: .7em;
    font-weight: 400;
    margin: .4em 0;
    color: #00000060;
}

.panel-header .info button{
    background: none;
    border: none;
    font-size: .9em;
    color: #000000A0;
    transition-duration: .3s;
}

.panel-header .info button:hover{
    color: #FF6a5C;
    transition-duration: .3s;
}

.panel-header button{
    margin-left: auto;
    margin-top: auto;
    background: none;
    border: none;
    font-size: 1.2em;
    color: #000000A0;
    transition-duration: .3s;
}

.panel-header button:hover{
    color: #FF6a5C;
    transition-duration: .3s;
}

.panel-body{
    width: 100%;
}


.modalEditProject input{
    border: none;
    background: none;
    border-bottom: 2px solid #414141;
    margin: 1em .5em;
    padding: .3em;
    outline: none;
    font-size: .8em;
}

.modalEditProject select{
    background: none;
    border: none;
    border-bottom: solid 2px #414141;
    margin: 1em .5em;
    width: 40%;
    font-size: .6em;
}

.modalEditProject .panelButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.modalEditProject .panelButtons .buttonRemove{
    margin: .5em;
    font-size: .7em;
    background: none;
    border: none;
    color: #DC3545;
    opacity: .7;
    transition-duration: .4s;
}

.modalEditProject .panelButtons .buttonRemove:hover{
    opacity: 1;
    cursor: pointer;
    transition-duration: .4s;
}

.modalEditProject .panelButtons .buttonEdit{
    padding: 10px 15px;
    margin: .5em;
    font-size: .7em;
    background-color: #28A745;
    border: solid 2px #28A745;
    color: #FFFFFF;
    transition-duration: .4s;
}

.modalEditProject .panelButtons .buttonEdit:hover{
    background: none;
    color: #28A745;
    cursor: pointer;
    transition-duration: .4s;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #FF6A5C60;
    padding: 5px 5px;
    box-sizing: border-box;
}

.task input{
    display: flex;
    font-size: .7em;
    min-width: 30%;
    max-width: 50%;
    background: none;
    border: none;
    outline: none;
}

.task input:focus{
    border: 1px solid #414141;
}

.task .actionButtons i{
    margin: 0 10px;
    font-size: .8em;
    color: #FF6A5C;
    opacity: 0;
    cursor: pointer;
    transition-duration: .3s;
}

.task:hover .actionButtons i{
    opacity: .7;
    transition-duration: .3s;
}

.task .actionButtons i:hover{
    opacity: 1;
    transition-duration: .3s;
}

